data filter=lfs diff=lfs merge=lfs -text
LSTM filter=lfs diff=lfs merge=lfs -text
Saves.h5 filter=lfs diff=lfs merge=lfs -text
sadge.jpg filter=lfs diff=lfs merge=lfs -text
V.PNG filter=lfs diff=lfs merge=lfs -text
graph.png filter=lfs diff=lfs merge=lfs -text
main.py filter=lfs diff=lfs merge=lfs -text
word.PNG filter=lfs diff=lfs merge=lfs -text
Datasets.zip filter=lfs diff=lfs merge=lfs -text
__pycache__ filter=lfs diff=lfs merge=lfs -text
graph filter=lfs diff=lfs merge=lfs -text
pil_text.png filter=lfs diff=lfs merge=lfs -text
test_correct.jpg filter=lfs diff=lfs merge=lfs -text
CNN filter=lfs diff=lfs merge=lfs -text
KNN.py filter=lfs diff=lfs merge=lfs -text
Saves_LSTM.h5 filter=lfs diff=lfs merge=lfs -text
data.py filter=lfs diff=lfs merge=lfs -text
model_LSTM.png filter=lfs diff=lfs merge=lfs -text
models.py filter=lfs diff=lfs merge=lfs -text
model.h5 filter=lfs diff=lfs merge=lfs -text
venv filter=lfs diff=lfs merge=lfs -text
LSTM.py filter=lfs diff=lfs merge=lfs -text
tesseract.py filter=lfs diff=lfs merge=lfs -text
testing.png filter=lfs diff=lfs merge=lfs -text
Predictions filter=lfs diff=lfs merge=lfs -text
emnist-balanced-mapping.txt filter=lfs diff=lfs merge=lfs -text
test.png filter=lfs diff=lfs merge=lfs -text
testing.py filter=lfs diff=lfs merge=lfs -text
full_model.h5 filter=lfs diff=lfs merge=lfs -text
gitattributes filter=lfs diff=lfs merge=lfs -text
model.json filter=lfs diff=lfs merge=lfs -text
ocr.py filter=lfs diff=lfs merge=lfs -text
s.PNG filter=lfs diff=lfs merge=lfs -text
test filter=lfs diff=lfs merge=lfs -text
w.PNG filter=lfs diff=lfs merge=lfs -text
